@media (prefers-color-scheme: dark){
  :root{
    --bg:#0f0f0f;
    --surface:#131717ad;
    --fg:#e7eaf3;
    --fg-muted:#b7bfd3;
    --border:#1e221ffe;
    --brand:#4e9e70;
    --brand-600:#78b7ab;
    --brand-100:#17392c;
  }

  .sidebar { background: var(--surface); }
  .news-card__meta{
    background: color-mix(in srgb, var(--surface) 92%, #fff 8%);
  }
}

.app-theme-root[data-theme="dark"]{
  --bg:#0f0f0f;
  --surface:#131717ad;
  --fg:#e7eaf3;
  --fg-muted:#b7bfd3;
  --border:#1e221ffe;
  --brand:#4e9e70;
  --brand-600:#78b7ab;
  --brand-100:#17392c;
  --brand-meta: color-mix(in srgb, var(--surface) 92%, #fff 8%);
}